@using Microsoft.AspNetCore.Routing;

@{
}

<div class="dashboard-container container-lg">
    <div class="nav-left">
        <partial name="_Dashboard" />
    </div>
    <div class="dashboard-right">
        <input type="search" placeholder="Enter name here" />
        <button class="btn searchBtn">Search</button>

        <div class="mt-4">
            <div class="row">
                <div class="col-sm-3">
                    <div class="staffCard card">
                        <div class="card-body">
                            <img class="staffCardImage" />
                            <p class="staffCardName">XXXXX XXXXX XXXX</p>
                            <p class="staffCardEmail">xxxxxx@xxxxxxxx.com</p>
                            <a href="@Url.Action("StaffDashboard", "Dashboard")" class="viewBtn btn">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="staffCard card">
                        <div class="card-body">
                            <img class="staffCardImage" />
                            <p class="staffCardName">XXXXX XXXXX XXXX</p>
                            <p class="staffCardEmail">xxxxxx@xxxxxxxx.com</p>
                            <a href="#" class="viewBtn btn">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="staffCard card">
                        <div class="card-body">
                            <img class="staffCardImage" />
                            <p class="staffCardName">XXXXX XXXXX XXXX</p>
                            <p class="staffCardEmail">xxxxxx@xxxxxxxx.com</p>
                            <a href="#" class="viewBtn btn">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="staffCard card">
                        <div class="card-body">
                            <img class="staffCardImage" />
                            <p class="staffCardName">XXXXX XXXXX</p>
                            <p class="staffCardEmail">xxxxxx@xxxxxxxx.com</p>
                            <a href="#" class="viewBtn btn">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 row">
                <div class="col-sm-3">
                    <div class="staffCard card">
                        <div class="card-body">
                            <img class="staffCardImage" />
                            <p class="staffCardName">XXXXX XXXXX XXXX</p>
                            <p class="staffCardEmail">xxxxxx@xxxxxxxx.com</p>
                            <a href="#" class="viewBtn btn">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="staffCard card">
                        <div class="card-body">
                            <img class="staffCardImage" />
                            <p class="staffCardName">XXXXX XXXXX XXXX</p>
                            <p class="staffCardEmail">xxxxxx@xxxxxxxx.com</p>
                            <a href="#" class="viewBtn btn">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="staffCard card">
                        <div class="card-body">
                            <img class="staffCardImage" />
                            <p class="staffCardName">XXXXX XXXXX XXXX</p>
                            <p class="staffCardEmail">xxxxxx@xxxxxxxx.com</p>
                            <a href="#" class="viewBtn btn">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="staffCard card">
                        <div class="card-body">
                            <img class="staffCardImage" />
                            <p class="staffCardName">XXXXX XXXXX</p>
                            <p class="staffCardEmail">xxxxxx@xxxxxxxx.com</p>
                            <a href="#" class="viewBtn btn">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 row">
                <div class="col-sm-3">
                    <div class="staffCard card">
                        <div class="card-body">
                            <img class="staffCardImage" />
                            <p class="staffCardName">XXXXX XXXXX XXXX</p>
                            <p class="staffCardEmail">xxxxxx@xxxxxxxx.com</p>
                            <a href="#" class="viewBtn btn">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="staffCard card">
                        <div class="card-body">
                            <img class="staffCardImage" />
                            <p class="staffCardName">XXXXX XXXXX XXXX</p>
                            <p class="staffCardEmail">xxxxxx@xxxxxxxx.com</p>
                            <a href="#" class="viewBtn btn">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="staffCard card">
                        <div class="card-body">
                            <img class="staffCardImage" />
                            <p class="staffCardName">XXXXX XXXXX XXXX</p>
                            <p class="staffCardEmail">xxxxxx@xxxxxxxx.com</p>
                            <a href="#" class="viewBtn btn">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="staffCard card">
                        <div class="card-body">
                            <img class="staffCardImage" />
                            <p class="staffCardName">XXXXX XXXXX</p>
                            <p class="staffCardEmail">xxxxxx@xxxxxxxx.com</p>
                            <a href="#" class="viewBtn btn">View</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-4">
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="active page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/scripts/Staff.js"></script>
}