@import 'theme';

.navbar {
  user-select: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-link-sm {
  font-size: 0.875rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.nav-user-dropdown-toggle {
  @media (min-width: map-get($grid-breakpoints, 'md')) {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
  }
}

.nav-profile-photo {
  height: 36px;
  display: inline-block;
  vertical-align: -0.75rem;
}

.media-container {
  max-height: calc(100vh - 7.5625rem);
  text-align: center;
}

#main-media {
  display: inline-block;
  height: auto;
  max-width: 100%;
  max-height: 30rem;
  @media (min-width: map-get($grid-breakpoints, 'md')) {
    max-height: 100%;
  }
}

.metadata-container {
  font-size: 0.875rem;
}

.metadata-geo .circle {
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  background-color: rgba(0, 77, 168, 0.8);
  border: 2px solid #333333;
  border-radius: 50%;
  pointer-events: none;
}

.image-stack {
  display: grid;

  img {
    grid-area: 1 / 1;

    &:not(:first-of-type) {
      opacity: 0;
      transition: opacity 0.3s;
    }
    &:not(:first-of-type).visible {
      opacity: 1;
    }
  }
}

.metadata-tags .btn {
  font-weight: normal;
  color: inherit;

  &:hover {
    color: #fff;
  }
}

.metadata-tags .tagger-tag {
  font-weight: normal;
  color: inherit;

  &:hover {
    background-color: $gray-300;
    color: inherit;
  }

  &:active {
    background-color: $gray-500 !important;
    color: inherit !important;
  }
}

.required::after {
  content: "*";
  font-weight: $font-weight-bold;
  color: $red;
  margin-left: 0.1rem;
}

.dashboard-nav {
    background-color: #CDD9DE;
    border-radius: 4px;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 50%;
    transition: width 2s;
}

.dashboard-nav ul li {
    padding: 5%;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5%;
}

.dashboard-nav ul li.active {
    background-color: white;
    border-radius: 0 0 0 12px;
}


.dashboard-nav ul li.not-active {
    width:50%;
    left: 100%;
    transition: all 1s;
}

.dashboard-nav ul li.not-active:hover {
    width: 100%;
    right: 0;
    background-color: white;
    border-radius: 0 0 0 12px;
}

.report-card {
    padding: 3%;
    width: 22.5%;
    color: #504E9A;
    border-radius: 4px;
}
.report-card span {
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
}

.upload-card {
    background-color: #DAD3E9;
    border-left: 3px solid #C1BAEA;
}

.file-card {
    background-color: #E5A4B8;
    border-left: 3px solid #F64699;
}

.download-card {
    background-color: #D4E9A9;
    border-left: 3px solid #F0D374;
}

.shadowHover{
    transition: all 350ms;
}

.shadowHover:hover {
    box-shadow: 0 1.3rem 1.8rem rgb(0 0 0 / 15%) !important;
}
