@import 'theme';

.navbar {
  user-select: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-link-sm {
  font-size: 0.875rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.nav-user-dropdown-toggle {
  @media (min-width: map-get($grid-breakpoints, 'md')) {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
  }
}

.nav-profile-photo {
  height: 36px;
  display: inline-block;
  vertical-align: -0.75rem;
}

.media-container {
  max-height: calc(100vh - 7.5625rem);
  text-align: center;
}

#main-media {
  display: inline-block;
  height: auto;
  max-width: 100%;
  max-height: 30rem;
  @media (min-width: map-get($grid-breakpoints, 'md')) {
    max-height: 100%;
  }
}

.metadata-container {
  font-size: 0.875rem;
}

.metadata-geo .circle {
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  background-color: rgba(0, 77, 168, 0.8);
  border: 2px solid #333333;
  border-radius: 50%;
  pointer-events: none;
}

.image-stack {
  display: grid;

  img {
    grid-area: 1 / 1;

    &:not(:first-of-type) {
      opacity: 0;
      transition: opacity 0.3s;
    }
    &:not(:first-of-type).visible {
      opacity: 1;
    }
  }
}

.metadata-tags .btn {
  font-weight: normal;
  color: inherit;

  &:hover {
    color: #fff;
  }
}

.metadata-tags .tagger-tag {
  font-weight: normal;
  color: inherit;

  &:hover {
    background-color: $gray-300;
    color: inherit;
  }

  &:active {
    background-color: $gray-500 !important;
    color: inherit !important;
  }
}

.required::after {
  content: "*";
  font-weight: $font-weight-bold;
  color: $red;
  margin-left: 0.1rem;
}

//Dashboard responsive widths
//1399, 1199px, 899px, 799px

.dashboard-nav {
    background-color: #CDD9DE;
    border-radius: 4px;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 50%;

    @media only screen and (max-width: 1199px) {
        padding-bottom: 110%;
    }

    @media only screen and (max-width: 899px) {
        display: none;
    }
}

.dashboard-nav-items {
    padding-inline: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5%;
    padding-block: 3%;
    margin-left: 15%;

    @media only screen and (max-width: 1199px) {
        padding-block: 8%;
        margin-left: 30%;
    }
}

.dashboard-nav-items-responsive {
    padding: 2%;
}

.dashboard-nav-responsive .active {
    background-color: white;
    border: 8px solid #CDD9DE;
    border-top-left-radius: 24px;
    border-bottom: hidden;
}

.dashboard-nav-responsive .not-active {
    border-top-left-radius: 24px;
    border: 8px solid #CDD9DE;
    border-bottom: hidden;

    &:hover {
        background-color: white;
        
    }
}

.dashboard-nav-items span{
    @media only screen and (max-width: 1199px) {
        display: none;
    }
}

.dashboard-nav .active {
    background-color: white;
    border-radius: 0 0 0 12px;
}

.dashboard-nav .not-active {
    &:hover {
        background-color: white;
        border-radius: 0 0 0 12px;
    }
}

.dashboard-nav-icon {
    width: 18px;
    height: 18px;

    @media only screen and (max-width: 1199px) {
        width: 25px;
        height: 25px;
        margin-left: 10%;
    }
}

.dashboard-nav-responsive {
    display: none;
    background-color: #CDD9DE;
    border-radius: 4px;
    padding-top: -50px;
    
    @media only screen and (max-width: 899px) {
        display: flex;
    }
}

.dashboard-container {
    display: flex;
    margin-top: 1.5rem;

    @media only screen and (max-width: 899px) {
        display: block;
    }
}

.nav-left {
    width: 25%;

    @media only screen and (max-width: 1199px) {
        width: 15%;
    }

    @media only screen and (max-width: 899px) {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

.dashboard-right {
    width: 75%;
    padding: 1%;
    overflow: hidden;
    overflow-y: scroll;
    height: 700px;

    @media only screen and (max-width: 1199px) {
        width: 85%;
    }

    @media only screen and (max-width: 899px) {
        width: 100%;
        height: 650px;
    }
}

.dashboard-card {
    display: flex;
    margin-top: 2%;

    @media only screen and (max-width: 799px) {
        display: block;
    }
}

.report-card {
    padding: 3%;
    width: 22.5%;
    color: #504E9A;
    border-radius: 4px;

    @media only screen and (max-width: 799px) {
        width: 100%;
        margin-block: 3%;
    }
}
.report-card span {
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
}

.upload-card {
    background-color: #DAD3E9;
    border-left: 3px solid #C1BAEA;
}

.file-card {
    background-color: #E5A4B8;
    border-left: 3px solid #F64699;
    margin-left: 1.5rem;

    @media only screen and (max-width: 799px) {
        margin-left: 0;
    }
}

.download-card {
    background-color: #D4E9A9;
    border-left: 3px solid #F0D374;
    margin-left: 1.5rem;

    @media only screen and (max-width: 799px) {
        margin-left: 0;
    }
}

.reportLogo {
    padding: 13px;
    border-radius: 35%;
}

.uploadLogo {
    background-color: #C1BAEA;
}

.downloadLogo {
    background-color: #F0D374;
}

.fileLogo {
    background-color: #F64699;
}

.shadowHover{
    transition: all 350ms;
}

.shadowHover:hover {
    box-shadow: 0 1.3rem 1.8rem rgb(0 0 0 / 15%) !important;
}

.dashboard-charts {
    display: flex;
    margin-top: 1.5rem;
    
    @media only screen and (max-width: 799px) {
        display: block;
    }
}

.dashboard-charts .item-left {
    width: 64%;
    margin-right: 2%;

    @media only screen and (max-width: 799px) {
        width: 100%;
        margin-right: 0;
        margin-block: 1%;
    }

    div{
        padding-botton: 2%;
    }
}

.dashboard-charts .item-right {
    width: 34%;

    @media only screen and (max-width: 799px) {
        width: 100%;
    }
}

.view-stat {
    margin-inline: 17%;

    @media (max-width: 1399px) {
        margin-inline: 5%;
    }
}

.dashboard-charts .pb-5-responsive {
    padding: 1rem !important;

    @media only screen and (max-width: 799px) {
        padding: 3rem !important;
    }
}

.dashboard-charts .p-1-responsive {
    padding: 1rem !important;
    padding-bottom: 3rem !important;

    @media only screen and (max-width: 799px) {
        padding: 3rem !important;
    }
}

.genBtn {
    float: right;
    background-color: #CDD9DE;
}

.hrNegativeMargin {
    margin-top: -5px;
    margin-bottom: -5px;
}

.filterOption {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.filter-option-active {
    text-decoration: underline;
}

.tableSort {
    color: black;
    white-space: nowrap;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        cursor: pointer;
        color: black;
        text-decoration: none;
    }
}